/* estilos.css*/

/* Estilos para InfoPrincipal */
.animated-text {
  background: linear-gradient(to right, #8964e8, #8964e8, #c42ed4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;

  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; /* Reusando la animación existente */
}


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* Estilos para InfoPrincipal */