/* estilos.css*/

/* --------------------------------- Estilos para InfoPrincipal --------------------------------- */

.animated-text {
  background: linear-gradient(
    to right,
    #8964e8 0%,
    #7a5bdc 20%,
    #6e52d0 40%,
    #6379c4 60%,
    #558fd8 80%,
    #4c9cd0 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;

  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* --------------------------------- Estilos para InfoPrincipal --------------------------------- */





/* --------------------------------- Animaciones para Icones Redes Sociales SVG  --------------------------------- */

@keyframes titileo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.icon {
  animation: titileo 4s ease-in-out infinite;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.25);
}

/* --------------------------------- Animaciones para Icones Redes Sociales SVG  --------------------------------- */





/* Personalización de los puntos de paginación con colores específicos en Servicios.jsx */

.swiper-pagination {
  width: 100% !important;           
  bottom: 0px !important;          
  /* Alinea los puntos al centro horizontalmente */
}

.swiper-pagination-bullet {
  background: #8964e8 !important; 
}

.swiper-pagination-bullet-active {
  background: #8964e8 !important;
}

/* Personalización de los puntos de paginación con colores específicos en Servicios.jsx */




/* --------------------------------- Modales --------------------------------- */

/* Efecto Texto Modales */
.tracking-in-contract-bck-top {
  background: linear-gradient(
    to right,
    #8964e8 0%,
    #7a5bdc 20%,
    #6e52d0 40%,
    #6379c4 60%,
    #558fd8 80%,
    #4c9cd0 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}          

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/* Efecto Texto Modales */

/* --------------------------------- Modales --------------------------------- */




/* --------------------------------- Estilo Medidor calidad imagen conversor --------------------------------- */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #8964e8;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #8964e8;
  cursor: pointer;
  border-radius: 50%;
}

/* --------------------------------- Estilo Medidor calidad imagen conversor --------------------------------- */



/* --------------------------------- Estilos del footer --------------------------------- */

/* Footer Border */
.borde-gradiente-hover {
  position: relative;
  border: solid 1.5px transparent; /* Borde transparente para mantener el layout */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave para el cambio de color y sombra */
}
.borde-gradiente-hover:before {
  content: "";
  position: absolute;
  top: -3px; /* Ajuste basado en el grosor deseado del borde */
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  background: linear-gradient(
  to right,
  #8964e8 0%,
  #7a5bdc 20%,
  #6e52d0 40%,
  #6379c4 60%,
  #558fd8 80%,
  #4c9cd0 100%
);
  border-radius: inherit; /* Asegúrate de que los bordes estén redondeados si el elemento original también lo está */
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Inicialmente transparente */
}
.borde-gradiente-hover:hover {
  border-color: transparent; /* Hace transparente el borde original en hover */
}
.borde-gradiente-hover:hover:before {
  opacity: 1; /* Mostrar el borde gradiente al pasar el mouse */
}
.border-azul-custom {
  border-color: #0056b3; /* Suponiendo que #0056b3 es el color azul custom */
}


/* Estilos para la animacion Footer saltarin */

.jello-vertical {
	-webkit-animation: jello-vertical 1.9s both;
	        animation: jello-vertical 1.9s both;
}

@-webkit-keyframes jello-vertical {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  40% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  50% {
    -webkit-transform: scale3d(0.98, 1.02, 1);
            transform: scale3d(0.98, 1.02, 1);
  }
  65% {
    -webkit-transform: scale3d(1.02, 0.98, 1);
            transform: scale3d(1.02, 0.98, 1);
  }
  75% {
    -webkit-transform: scale3d(0.99, 1.01, 1);
            transform: scale3d(0.99, 1.01, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0%, 100% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.95, 1.05, 1);
  }
  40% {
    transform: scale3d(1.05, 0.95, 1);
  }
  50% {
    transform: scale3d(0.98, 1.02, 1);
  }
  65% {
    transform: scale3d(1.02, 0.98, 1);
  }
  75% {
    transform: scale3d(0.99, 1.01, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* Estilos para la animacion Footer saltarin  */

/* Estilos para la animacion Footer saltarin Hover */

@keyframes saltito {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.jello-hover {
  animation: saltito 0.6s ease-in-out;
}

/* Estilos para la animacion Footer saltarin Hover */

/* --------------------------------- Estilos del footer --------------------------------- */

/* Estilos para React Calendar en modo oscuro */
.react-calendar {
  background-color: #1f2937 !important; /* Fondo oscuro con !important */
  color: #ffffff !important; /* Texto blanco con !important */
  border: none !important; /* Sin borde */
  border-radius: 8px !important; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important; /* Sombra */
}

.react-calendar__navigation button {
  color: #ffffff; /* Color del texto en la navegación */
  background-color: #374151; /* Fondo de los botones de navegación */
}

.react-calendar__month-view__days__day--weekend {
  color: #9ca3af; /* Color del texto para los fines de semana */
}

.react-calendar__tile {
  background-color: #1f2937 ; /* Fondo de los días */
  color: #ffffff; /* Color del texto */
}

.react-calendar__tile--active {
  background-color: #4f46e5 !important; /* Fondo del día seleccionado */
  color: #ffffff; /* Texto del día seleccionado */
}

.react-calendar__tile--now {
  background-color: #6b7280 !important; /* Fondo del día actual */
  color: #ffffff ; /* Texto del día actual */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #374151 !important; /* Fondo al hacer hover o focus */
  color: #ffffff; /* Texto al hacer hover o focus */
}
